.ropeproject
*.pyc
.project
.pydevproject
*~
*.sublime-workspace
*.sublime-project
scratch.py
.DS_Store
region_gui/layout.py
notebooks
main_gui/main_window.py
config/run_dros_sg.ini
ideas.md
*.pckl
main_gui/conversion_dialog.py